<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RHNotes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8488DB311D7BAABD0073B95E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8488DB4A1D7BAABE0073B95E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8488DB551D7BAABE0073B95E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
